<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Email:</b>
  <%= @image.email %>
</p>

<p>
  <%= image_tag @image.avatar_url%><br>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
