<!DOCTYPE html>
<html>
<head>
  <title>SocialApp</title>
  <%= stylesheet_link_tag 'scaffold' %>
 <%= stylesheet_link_tag 'screen', :media => 'screen' %>
 <%= stylesheet_link_tag 'print',  :media => 'print' %>
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, videos_path(:atom) %>
</head>
<body>
 
<div class= "container">
  <div class="span-17 colborder" id="content">
<div id="nav">
        <%= link_to "Home", welcome_home_path  %> |
        <%= link_to "Image", images_path %> |
        <%= link_to "Video", videos_path %> |
        <%= link_to "Blogs", articles_path %>
      </div>
<%= yield %>


  </div>
  <div class="span-4 last" id="sidebar"></div>
</div>

</body>
</html>
